<ul class="thumbnails">
<% _.each(images, function(image){
	
print( "<li class='span4'><a href='#' class='thumbnail'><img src=image/"+image._id +" data-src='holder.js/50x50' alt='' /></a></li>");

})
%>
</ul>