<a href="https://twitter.com/intent/tweet?button_hashtag=FakeTCLAds&text=<% print( encodeURIComponent(text))%>" class="twitter-hashtag-button" data-lang="fr" data-url="<%= url %>" >
	partager la creation sur twitter</a>

<div class="fb-send" data-href="<%= url %>" >Share on Facebook</div>

